<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cybussolutions.hititpro">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LandingScreen" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.AddPictureActivity" />
        <activity android:name=".Activities.Start_Inspection" />
        <activity android:name=".Activities.Add_Client" />
        <activity android:name=".Activities.StructureScreensActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.Add_Comments" />
        <activity
            android:name=".Activities.Detailed_Activity_All_Screens"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Detailed_Activity_Structure_Screens"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.EditClient" />
        <activity android:name=".Activities.Edit_Profile" />
        <activity android:name=".Activities.AddTemplate" />
        <activity
            android:name="com.darsh.multipleimageselect.activities.AlbumSelectActivity"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ShowImages"></activity>
    </application>

</manifest>
